In [2]:
# import libraries
import pandas as pd
import re
import autosklearn.classification
import autosklearn.regression
import sklearn.model_selection
import sklearn.datasets
import sklearn.metrics
from sklearn.metrics import mean_squared_error, f1_score

In [2]:
# load datasets
college_train = pd.read_csv('/opt/nb/Desktop/DS3/AutoML/AutoML_Hauptseminar/Hauptseminar-AutoKeras/college_train.csv', quotechar='\'', skipinitialspace=True, na_values="?")
college_test = pd.read_csv('/opt/nb/Desktop/DS3/AutoML/AutoML_Hauptseminar/Hauptseminar-AutoKeras/college_test.csv', quotechar='\'', skipinitialspace=True, na_values="?")
phishing_train = pd.read_csv('/opt/nb/Desktop/DS3/AutoML/AutoML_Hauptseminar/Hauptseminar-AutoKeras/phishing_train.csv', quotechar='\'', skipinitialspace=True, na_values="?")
phishing_test = pd.read_csv('/opt/nb/Desktop/DS3/AutoML/AutoML_Hauptseminar/Hauptseminar-AutoKeras/phishing_test.csv', quotechar='\'', skipinitialspace=True, na_values="?")

Classification dataset

In [4]:
X_train = phishing_train.iloc[:,:-1] 
y_train = phishing_train.iloc[:,-1] # target is Result
X_test = phishing_test.iloc[:,:-1]
y_test = phishing_test.iloc[:,-1]

In [12]:
# 1st predictions and print f1-score
cls = autosklearn.classification.AutoSklearnClassifier(time_left_for_this_task=600)
cls.fit(X_train, y_train)
y_hat = cls.predict(X_test)
test_f1 = f1_score(y_test, y_hat)
print(f"Test F1-Score {test_f1}")

# 2nd predictions and print f1-score
cls = autosklearn.classification.AutoSklearnClassifier(time_left_for_this_task=600, seed=142)
cls.fit(X_train, y_train)
y_hat = cls.predict(X_test)
test_f1 = f1_score(y_test, y_hat)
print(f"Test F1-Score {test_f1}")

# 3rd make predictions and print f1-score
cls = autosklearn.classification.AutoSklearnClassifier(time_left_for_this_task=600, seed=143)
cls.fit(X_train, y_train)
y_hat = cls.predict(X_test)
test_f1 = f1_score(y_test, y_hat)
print(f"Test F1-Score {test_f1}")

Test F1-Score 0.939369870267408
Test F1-Score 0.9344909234411998
Test F1-Score 0.9379600420609884

Regression dataset

##### autosklearn needs some data preprocessing:
ValueError: Input Column ""school_name"" has invalid type object. Cast it to a valid dtype before using it in Auto-Sklearn. Valid types are numerical, categorical or boolean. You can cast it to a valid dtype using pandas.Series.astype .If working with string objects, the following tutorial illustrates how to work with text data: https://scikit-learn.org/stable/tutorial/text_analytics/working_with_text_data.html

In [5]:
# remove quotes from column names
college_train.columns = college_train.columns.str.replace('"', '')
college_test.columns = college_test.columns.str.replace('"', '')

In [3]:
college_train

,"""UNITID","""""school_name""""","""""city""""","""""state""""","""""zip""""","""""school_webpage""""","""""latitude""""","""""longitude""""","""""admission_rate""""","""""sat_verbal_midrange""""",...,"""""carnegie_undergraduate""""","""""carnegie_size""""","""""religious_affiliation""""","""""percent_female""""","""""agege24""""","""""faminc""""","""""mean_earnings_6_years""""","""""median_earnings_6_years""""","""""mean_earnings_10_years""""","""""median_earnings_10_years"""""""
0,100663,University of Alabama at Birmingham,Birmingham,AL,35294-0110,www.uab.edu,33.5022,-86.8092,0.8673,580.0,...,"Medium full-time four-year, selective, higher ...","Large 4-year, primarily nonresidential (over 9...",?,0.64999997615814,0.25999999046325,49894.65,37400.0,33200.0,46300.0,40300.0
1,100690,Amridge University,Montgomery,AL,36117-3553,www.amridgeuniversity.edu,32.3626,-86.17399999999999,?,?,...,"Medium full-time four-year, inclusivestudents ...","Very small 4-year, primarily nonresidential (l...",Churches of Christ,0.50999999046325,0.82999998331069,38712.18,38500.0,32800.0,42100.0,38100.0
2,100706,University of Alabama in Huntsville,Huntsville,AL,35899,www.uah.edu,34.7228,-86.6384,0.8062,575.0,...,"Medium full-time four-year, selective, higher ...","Medium 4-year, primarily nonresidential (3,000...",?,0.55000001192092,0.28999999165534,54155.4,39300.0,36700.0,52700.0,46600.0
3,100724,Alabama State University,Montgomery,AL,36104-0271,www.alasu.edu/email/index.aspx,32.3643,-86.2957,0.5125,430.0,...,"Full-time four-year, inclusive","Medium 4-year, primarily residential (3,000 to...",?,0.56999999284744,0.10999999940395,31846.99,21200.0,19300.0,30700.0,27800.0
4,100751,The University of Alabama,Tuscaloosa,AL,35487-0166,www.ua.edu/,33.2144,-87.5458,0.5655,555.0,...,"Full-time four-year, selective, lower transfer-in","Large 4-year, primarily residential (over 9,999)",?,0.56000000238418,0.10000000149011,74131.14,35700.0,32900.0,49100.0,42400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4938,421841,New York Conservatory for Dramatic Arts,New York,NY,10011-4225,www.sft.edu,40.7401,-73.9934,0.7090000000000001,?,...,?,?,?,0.60000002384185,0.12999999523162,70997.04,27600.0,22200.0,30500.0,27800.0
4939,421878,Eastern International College-Jersey City,Jersey City,NJ,7306,www.eicollege.edu,40.7355,-74.0628,?,?,...,Medium full-time two-year,Very small 2-year (less than 500),?,0.83999997377395,0.62000000476837,27843.91,29200.0,23600.0,35600.0,31900.0
4940,421896,Academia Serrant Inc,Ponce,PR,00717-1568,www.serrant.edu,18.0063,-66.6143,?,?,...,?,?,?,0.62000000476837,0.68000000715255,8155.74,17600.0,13500.0,17200.0,12100.0
4941,422020,San Joaquin Valley College-Fresno Aviation,Fresno,CA,93727,www.sjvc.edu,36.7755,-119.7268,?,?,...,Higher full-time two-year,Very small 2-year (less than 500),?,0.74000000953674,0.49000000953674,27424.86,28300.0,23700.0,30900.0,26900.0
4942,422190,Champion Institute of Cosmetology,Palm Springs,CA,92264,www.championcosmetology.com/,33.8134,-116.5468,?,?,...,?,?,?,?,?,?,?,?,?,?

In [4]:
college_train['""latitude""']

0       33.5022
1       32.3626
2       34.7228
3       32.3643
4       33.2144
         ...
4938    40.7401
4939    40.7355
4940    18.0063
4941    36.7755
4942    33.8134
Name: ""latitude"", Length: 4943, dtype: object

In [4]:
# get number of nuniques of categorical variables
for x in college_train[["school_name", "city", "zip", "school_webpage", "state", "predominant_degree", "highest_degree", "ownership", "region", "gender", "carnegie_basic_classification", "carnegie_undergraduate", "carnegie_size", "religious_affiliation"]]:
    print(f"nunique {x}:  college_train: {len(college_train[x].unique())} | college_test: {len(college_test[x].unique())}")

nunique school_name:  college_train: 4889 | college_test: 2091
nunique city:  college_train: 2088 | college_test: 991
nunique zip:  college_train: 4556 | college_test: 1849
nunique school_webpage:  college_train: 4395 | college_test: 1471
nunique state:  college_train: 59 | college_test: 53
nunique predominant_degree:  college_train: 4 | college_test: 4
nunique highest_degree:  college_train: 5 | college_test: 5
nunique ownership:  college_train: 3 | college_test: 3
nunique region:  college_train: 10 | college_test: 9
nunique gender:  college_train: 3 | college_test: 2
nunique carnegie_basic_classification:  college_train: 34 | college_test: 30
nunique carnegie_undergraduate:  college_train: 14 | college_test: 13
nunique carnegie_size:  college_train: 18 | college_test: 16
nunique religious_affiliation:  college_train: 56 | college_test: 20

In [5]:
# combined dataset
combined = pd.concat([college_train, college_test])

In [6]:
# define next steps for categorical variables:
to_change= ["state", "predominant_degree","highest_degree","ownership","region","gender","carnegie_basic_classification","carnegie_undergraduate","carnegie_size","religious_affiliation"]
to_drop= ["school_name", "city", "zip", "school_webpage"]

In [7]:
# remove columns with more than 100 unqiue values on categorical variables for one-hot-encoding
combined.drop(to_drop, axis=1, inplace=True)

In [8]:
print(f"nrows college_train: {len(college_train)}")
print(f"nrows college_test: {len(college_test)}")

nrows college_train: 4943
nrows college_test: 2120

In [9]:
# use one hot encoding for categorical variables
combined = pd.get_dummies(combined, prefix=to_change)

In [10]:
# resplit to train/test sets
college_train = combined.iloc[:4944,:]
college_test = combined.iloc[4944:,:]

In [11]:
X_train = college_train.loc[:, college_train.columns != "percent_pell_grant"]
y_train = college_train.loc[:, college_train.columns == "percent_pell_grant"]
X_test = college_test.loc[:, college_test.columns != "percent_pell_grant"]
y_test = college_test.loc[:, college_test.columns == "percent_pell_grant"]

In [18]:
# 1st automl on regression dataset
cls = autosklearn.regression.AutoSklearnRegressor(time_left_for_this_task=600, seed=141)
cls.fit(X_train, y_train)
y_hat = cls.predict(X_test)
rmse=mean_squared_error(y_test, y_hat)**0.5
print('RMSE: ' + str(rmse))

# 2nd automl on regression dataset
cls = autosklearn.regression.AutoSklearnRegressor(time_left_for_this_task=600, seed=142)
cls.fit(X_train, y_train)
y_hat = cls.predict(X_test)
rmse=mean_squared_error(y_test, y_hat)**0.5
print('RMSE: ' + str(rmse))

# 3rd automl on regression dataset
cls = autosklearn.regression.AutoSklearnRegressor(time_left_for_this_task=600, seed=143)
cls.fit(X_train, y_train)
y_hat = cls.predict(X_test)
rmse=mean_squared_error(y_test, y_hat)**0.5
print('RMSE: ' + str(rmse))

RMSE: 0.19579527010770167
RMSE: 0.19707371851794508
RMSE: 0.1955333422567766

In [22]:
import numpy as np

print(f"F1-Score mean: {np.mean([0.939369870267408,0.9344909234411998,0.9379600420609884])}")
print(f"RMSE mean: {np.mean([0.19579527010770167,0.19707371851794508,0.1955333422567766])}")

F1-Score mean: 0.9372736119231987
RMSE mean: 0.1961341102941411